# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
*.egg-info/
.eggs/
build/
dist/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# Virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyderworkspace

# VS Code settings
.vscode/
.settings/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# MyPy cache
.mypy_cache/

# Logs and debugging output
*.log
*.out
*.err
